h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        script {text-align: center;}
        form {text-align: center;}
        html {background-image: url("wallpapersden.com_macos-11-big-sur_3840x2160.jpg");}
        body{font-family: 'Source Code Pro', monospace;}
        input{font-family: 'Source Code Pro', monospace;}
        button{font-family: 'Source Code Pro', monospace;}
        button{color: tomato;}
        html {background-size: cover;}
        html {color: white}
